<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/styles/global.css" rel="stylesheet" type="text/css">
    <link href="/views/pages/signin/signin.css" rel="stylesheet" type="text/css">
    <title><%= title %></title>
</head>
<body>
    <div class="noti">
        <%- include ('../../notification/success', {message: "Email was sent"}) %>
    </div>
    <div class="wrapper">
        <div class="heading-section logo">
            <img src="https://1000logos.net/wp-content/uploads/2021/05/Gmail-logo.png" alt="" width="100px">
            <span>MyMail</span>
        </div>

        <form class="form flex-col">

            <div class="flex-col">
                <label for="">Email <span class="error email float-right">**Please enter email**</span></label>
                <input type="text" name="email" id="email">
            </div>

            <div class="flex-col">
                <label for="">Password <span class="error psw float-right">**Password must be at least 6 characters long**</span> </label>
                <input type="password" name="psw" id="psw">
            </div>

            <div class="footer-section">
                <div class="flex justify-space-between mb-16"> 
                    <span><a href="/sign-up">Sign up</a></span>
                    <span>Forgot password</span>
                </div>
                <button type="submit" class="btn" id="login">Sign in</button>
            </div>
        </form>
    </div>
</body>
<script lang="js" defer>
    const email = document.getElementById("email");
    const psw = document.getElementById("psw");
    const submitBtn = document.getElementById("login")
    const noti = document.querySelector(".noti")
    noti.style.display = "none";
   
    const validateEmail = () => {
        if(email.classList.contains("error")) {
            email.classList.remove("error")
            document.querySelector(".email.error").style.display = "none"
        }

        if(email.value.trim().length == 0) {
            email.classList.add("error")
            document.querySelector(".email.error").style.display = "inline-block"
            return false;
        }
        return true;
    }

    const validatePsw = () => {
        if(psw.classList.contains("error")) {
            psw.classList.remove("error")
            document.querySelector(".psw.error").style.display = "none"
        }

        if(psw.value.trim().length < 1 ) {
            psw.classList.add("error")
            document.querySelector(".psw.error").style.display = "inline-block"
            return false;
        }

        return true;
    }

    const showAlert = (status) => {
        if(status === "failed") {
            alert("Login failed! Try again")
        } else if( status === "success"){
            alert("Login Success!")
        } else {
            //
        }
    }

    submitBtn.addEventListener("click", async (e) => {
        e.preventDefault();

        if(validateEmail() && validatePsw()) {
            const data = {"email": email.value, "psw": psw.value}
            try {
                const response = await fetch("/sign-in", {
                    method: 'POST', 
                    headers: {
                        'Content-Type': "application/json"
                    },
                    body: JSON.stringify(data),
                })
                const result = await response.json();

                console.log(result)

                if(result.status === 200) {
                    setTimeout(()=>{
                        window.location.replace("/")
                    }, 300)
                } else {
                    showAlert("failed")
                }
            } catch (err) {
                console.log(err)
            }
        }
    })
</script>
</html>