
<div class="detail">
    <div class="wrapper">
        <div class="subject">
            <h1></h1>
        </div>
        <div class="email-info flex justify-space-between align-center">
            <div class="contact">
                <p>From: <span class="sender"></p>
                <p>to: <span class="recipient"></span> 
            </div>

            <div class="time">
                <p class="date"></p>
            </div>
        </div>
        <div class="body">
            <p></p>
        </div>
    </div>
</div>


<script>
    const id = (window.location.pathname).split("/")[2]
    const subject = document.querySelector(".subject h1")
    const sender = document.querySelector(".sender")
    const recipient = document.querySelector(".recipient")
    const body = document.querySelector(".body>p")
    const date = document.querySelector(".date")
    const time = document.querySelector(".time")
    fetch(`/get/email-detail/${id}`)
        .then(res => res.json())
        .then(data => {
            const time = new Date(data[0].sent_at)
            console.log(data[0].sent_at)
            subject.innerHTML = data[0].subject
            sender.innerHTML = data[0].sender
            recipient.innerHTML = data[0].recipient
            date.innerHTML = time.toLocaleDateString('en-us', {month:"short", day:"2-digit", year:"numeric", hour:"2-digit",minute:"2-digit"}) 
            body.innerHTML = data[0].body
        })
</script>

<style>
    .detail .wrapper {
        background-color: white;
        padding: 12px 12px;
        width: 80%;
        margin: auto;
        border-radius: 8px;
        overflow: hidden;
    }

    .detail .subject {
        padding: 12px 8px;
    }

    .detail .subject h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .detail .contact {
        font-weight: 600;
        padding: 0 8px;
    }

    .detail .contact span {
        font-size: 18px;
        font-weight: 400;
    }

    .detail .date {
        font-weight: 300;
        font-size: 18px;
        padding-right: 8px;
    }

    .detail .body {
        padding: 12px 8px;
    }

    .detail .body p {
        line-height: 1.5;
    }
</style>