<div class="compose">
    <% if (status == "none") { %>

    <% } else if (status == "success") { %>
        <%- include ('../../notification/success', {message: "Email was sent"}) %>
    <% } else if (status == "failed") { %>
        <%- include ('../../notification/failed', {message: "Failed"}) %>
    <% } else { %>
         
    <% } %>


    <div class="wrapper">
        <h3 class="heading">Compose your email</h3>
        <form action="/compose" method="POST">
            
            <div class="to">
                <label for="">To</label>
                <select name="to" id=""></select>
            </div>

            <div class="subject">
                <label for="">Subject</label>
                <input type="text" name="subject" id="">
            </div>

            <div class="body">
                <textarea name="body" id="" cols="100" rows="8" placeholder=""></textarea>
            </div>

            <div class="file">
                <span>Attachment</span>
                <input type="file" name="attachment" title=" ">
            </div>

            <div class="button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script>
    const selectTag = document.querySelector("select")
    const form = document.querySelector("form")

    fetch("/get/all-available-emails")
        .then(res => res.json())
        .then(data => {
            let options = ""
            data.forEach(row => {
                options += `<option value="${row.userId}">${row.email}</option>`
            });

            selectTag.innerHTML = options
        })
    
</script>