<div class="inbox">
    <div class="wrapper">
        <table>
            <thead>
                <tr>
                    <th class="sender-recipient">Sender</th>
                    <th>Content</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>

        <div class="pagination">
        </div>
    </div>
</div>

<script>

    //cannot get ID
    const cookie = JSON.parse((document.cookie).replace("user=",""))
    const tableBody = document.querySelector("tbody")
    const pagination = document.querySelector(".pagination")

     //`<tr><td class="sender-recipient"></td><td><div class = "body" style = "text-align: center">No email was found</div></td><td></td></tr>`

    fetch(`/get/email/received-email/${cookie.userId}`)
        .then(res => res.json())
        .then(data => {
            let tableData = ""
            
            if(data.length == 0) {
                tableData = `<tr><td class="sender-recipient"></td><td><div class = "body" style = "text-align: center">No email was found</div></td><td></td></tr>`
                tableBody.innerHTML = tableData
            } else {
                const totalPage = Math.ceil(data.length / 5)
                const query = window.location.search.split("?")
                let paginationPage = ""
                let currentPage = -1
                query.forEach(q => {
                    if(q.includes("page")) {
                        currentPage = parseInt((q.split("="))[1])
                    }
                })

                for(let i = 1; i <= totalPage; i++) {
                    paginationPage += `<a href="/inbox?page=${i}" class="${i == currentPage ? "active" : ""}">${i}</a>`
                }

                pagination.innerHTML = paginationPage

                
                data.forEach((row, index) => {
                    if((currentPage - 1) * 5 <= index && index < (currentPage * 5)) {
                        const time = new Date(row.sent_at)
                        tableData += `
                            <tr>
                                <td class="sender-recipient">${row.sender}</td>
                                <td>
                                    <div class = "subject">
                                        <a style = "font-weight: bold" href="/email-detail/${row.emailId}">${row.subject ? row.subject : "No subject"} </a>
                                    </div>
                                    <div class = "body">
                                        ${row.body}
                                    </div>
                                </td>
                                <td>${time.toLocaleString('en-us',{month:'short', day:"numeric", year:'numeric'})}</td>
                            </tr>
                        `
                    }
                });

                tableBody.innerHTML = tableData
            }
        })
        .catch(err => console.log(err))
        
        
    
</script>